#container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.input {
    width: 400px;
    height: 450px;
    border: solid 3px  rgb(0, 170, 193);
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);

}
#print{
    width: 400px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    border: solid 3px  rgb(0, 170, 193);
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    color: black;
    text-transform: uppercase;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    transition: 0.1s;
    background-color: rgb(0, 152, 194);
    width: 50%;
    height: 50px;
    margin-left: 350px;
    border-radius: 25px;
    padding: 2px 2px 5px;
    

}

nav ul :hover {
    color: yellow;
    transform: scale(0.9);
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    margin: 15px;
    margin-top: 25px;
    padding: 15px;
    color: rgb(7, 7, 7);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

label{
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 30px;
    text-transform: uppercase;
    
}
input{
    width: 300px;
    height: 50px;
    border: 3px aliceblue;
    box-shadow: 0 5px 15px  rgb(99, 141, 255);
    margin: 15px 15px 15px 30px;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 5px 5px 10px;
  
}
select{
    width: 150px;
    height: 40px;
    font-size: 25px;
    margin-top: 10px;
    
}
p{
    font-size: 25px;
    padding-left: 40px;
}

textarea{
    margin-top: 0px;
    margin-left: 30px;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
  
}
#btn{
    margin-top: 30px;
    width: 500px;
    height: 60px;
    border-radius: 25px;
    border: rgb(77, 152, 217) 1px solid;
    box-shadow: 0 5px 15px  rgb(64, 91, 163);
    background-color: rgb(16, 76, 101);
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    color: aliceblue;
    margin-left: 500px;
    

}
#btn:hover{
    background-color:yellow;
    color: black;
    border: rgb(255, 255, 255) 1px solid;
}
::placeholder{
    padding:10px;
    
    font-size: 20px;
   
}
